
/* styles/navbar.css */
.navelement {
    position: relative;
    display: flex;
    justify-content: right;
    margin: 10%;
 }
  
  
  .dropdown-menu {
    top: 100%;
    left: 0;
    display: none;
  }
  
  .navelement:hover .dropdown-menu {
    display: block;
  }
  