/* styles/navbar.css */
.navelement {
    position: relative;
    display: inline-block;
    margin: 10%;
  }
  
  .material-symbols-outlined {
    font-family: 'Material Icons';
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Adjust to 100% to make the dropdown appear below the icon */
    left: 0;
    display: none;
  }
  
  .navelement:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
  }
  