.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 100%;
  }
  
  .left-div,
  .right-div {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .me {
    width: 100px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
  }

  .profile-img {
    border-radius: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 3000px) {
  .profile-img {
    height: 90% !important;
    width: 90% !important;
  }
}


@media (max-width: 2700px) {
  .profile-img {
    height: 90% !important;
    width: 90% !important;
  }
}


@media (max-width: 2200px) {
  .profile-img {
    height: 90% !important;
    width: 90% !important;
  }
}

@media (max-width: 2000px) {
  .profile-img {
    height: 100% !important;
    width: 100% !important;
  }
}

@media (max-width: 1600px) {
  .profile-img {
    height: 100% !important;
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .profile-img {
    height: 120% !important;
    width: 120% !important;
  }
}
